* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100vh;
}

.next-carousel,
.prev-carousel {
    display: none;
}
.paging-dots-carousel {
    fill: #d8d8d8 !important;
    opacity: 1 !important;
}

.paging-dots-carousel.active {
    fill: #603ebe !important;
}

.paging-dots-carousel .paging-dot {
    width: 10px;
    height: 10px;
}

.slider-container {
    top: -50px;
    margin-bottom: -50px;
}

.slider-control-bottomcenter .paging-dots-container-carousel {
    column-gap: 12px;
    top: -25px !important;
}
